.water {
	.buttons {
		display: flex;
		justify-content: space-between;
	}

	button {
		font-weight: bold;
		color: white;
		text-align: center;
		font-size: xx-large;
		width: 400px;
		height: 100px;
	}

	.title {
		width: 70vw;
		user-select: none;
		pointer-events: none;
		height: 68px;
	}

	.back {
		width: 20vw;
		background-color: gray;
		height: 68px;
	}

	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 6rem;

		h5 {
			font-size: 2.5rem;
			text-align: center;
		}

		button {
			margin: 1rem;
		}
	}
}